/* Style pour la barre de navigation */

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #222;
  color: white;
  padding: 1rem;
}

/* Style pour les liens de navigation */

nav a {
  color: white;
  text-decoration: none;
  font-size: 1.2rem;
  transition: all 0.2s ease-in-out;
  margin: 0 0.5rem;
}

nav a:hover {
  color: #f0db4f;
  transform: translateY(-3px);
}

/* Style pour le logo */

nav h1 {
  margin: 0;
  font-size: 2rem;
  font-weight: bold;
  letter-spacing: 1px;
  text-shadow: 1px 1px 2px rgba(0,0,0,0.5);
  transition: all 0.2s ease-in-out;
}

nav h1:hover {
  color: #f0db4f;
  transform: rotateY(360deg);
}
